.map-board {
    position: absolute;
    top: 32rem;
    bottom: 0;
    left: 0;
    width: 640rem;
    z-index: 130;
}
.unit-card {
    position: absolute;
    width: 18rem;
    height: 18rem;
    border-radius: 4rem;
    border: 2rem solid #000000;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.35);

    .unit-counter {
        font-size: 12rem;
        text-align: center;
        font-weight: bold;
    }
}