.city-item {
    padding: 2rem;
    background-color: #666666;
    .base-info, .city-item .stat {
        font-family: 'Consolas', monospace;
        color: #EEEEEE;
        display: flex;
    }
    .stat .data {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        min-width: 40rem;
        margin-right: 5rem;
    }
    .stat .icon {
        width: 16rem;
        height: 16rem;
        margin-right: 5rem;
    }
}